<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Endpoints</h1>
    <ul>
        <li><b>Login</b> /auth/login</li>
        <li><b>Register</b> /auth/register</li>
        <li><b>Notifications</b> /notifications</li>
        <li><b>Forgot Pasword</b> /password/forgot</li>
        <li><b>Reset Pasword</b> /password/reset</li>
    </ul>
</body>
</html>